<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="/css/materialize.css">
   <link rel="stylesheet" href="/css/container_details.css">
   <script src="https://kit.fontawesome.com/ade53cd309.js" crossorigin="anonymous"></script>
</head>

<body>
   <!-- NARBAR -->
   <%- include('../../layouts/navbar.ejs') -%>
   <!-- MAIN -->
   <main class="container">
      <div class="row">
         <h2 class="sub_page-heading">Container Details</h2>
      </div>
      <div class="image-wrapper">
         <% if (containerInfo.image!="noImage") {%>
         <img src="http://localhost:3000/img/container/<%= containerInfo.image.filename %>"
            alt="<%= containerInfo.name %>">
         <% } %>

      </div>
      <div class="container-info">
         <div class="container-name">Name: <%= containerInfo.name %></div>
         <div class="container-credit">Credit: <%= containerInfo.credit %></div>
         <div class="container-material">Material: <%= containerInfo.material %></div>
      </div>

      <% if (status=="partner" || status=="admin"){%>
      <div class="row">
         <a class="btn col s4 green darken-1 offset-s1" href="/updateContainer/<%= containerInfo._id %>">Edit</a>
         <a class="btn col s4 green darken-1 offset-s2" href="/api/container/delete/<%= containerInfo._id %>">Delete</a>
      </div>
      <% } %>
   </main>

   <!-- <script src="/js/bin/materialize.js"></script>
   <script src="/js/bin/materialize-init.js"></script> -->
</body>

</html>