<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8" />
   <title>Use the geocoder without a map</title>
   <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
   <link rel="stylesheet" href="/css/materialize.css">
   <link rel="stylesheet" href="/css/container_details.css">
   <script src="https://kit.fontawesome.com/ade53cd309.js" crossorigin="anonymous"></script>
</head>

<body>
   <a class="backBtn" onclick="window.history.back();"><i class="fas fa-arrow-left"></i></a>
   <div class="container">
      <div class="row">
         <h2 class="sub_page-heading">Créer contenant</h2>
      </div>
      <div class="row">
         <form class="" action="api/container/<%= partnerId %>" method="POST" enctype="multipart/form-data">
            <% if (userStatus =="admin") { %>
            <div hidden>
               <p>
                  <label>
                     <input type="checkbox" name="default" checked="checked" />
                     <span>Défaut</span>
                  </label>
               </p>
               <% } %>
               <label for="defaultContainer">Contenant par défaut</label>
               <div class="input-field col s12">
                  <select id="defaultContainer" class="browser-default">
                     <option value="noDefault">Pas de contenant par défaut</option>
                     <% containerInfo.forEach(option => { %>
                     <option value="<%= option.name %>"><%= option.name %></option>
                     <%})%>
                  </select>

               </div>
               <% if (userStatus =="admin") { %>
            </div>
            <% } %>
            <div class="input-field col s12">
               <input id="name" type="text" name="name" class="validate" required>
               <label id="nameLabel" for="name">Nom</label>
            </div>
            <div class="input-field col s12">
               <select id="material" name="material" required>
                  <option value="Plastique">Plastique</option>
                  <option value="Verre">Verre</option>
                  <option value="Inox">Inox</option>
               </select>
               <label for="material">Materiau</label>
            </div>
            <div class="input-field col s12">
               <label id="creditLabel" for="credit">Credit</label>
               <input type="number" name="credit" id="credit" class="validate" required>
            </div>
            <div id="imageLabel" class="input-field file-field col s12">
               <div class="btn green darken-1">
                  <span>Fichier</span>
                  <input id="image" name="image" type="file">
               </div>
               <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" placeholder="Image à upload">
               </div>
            </div>
            <input id="basedOnDefault" type="hidden" name="basedOnDefault" value="false">
            <input type="hidden" name="partnerId" value="<%= partnerId %>">
            <div class="row">
               <button class="col s12 waves-effect waves-light btn green darken-1">Créer</button>
            </div>
         </form>
      </div>
   </div>


   <script src="/js/bin/materialize.js"></script>
   <script src="/js/bin/materialize-init.js"></script>
   <script src="/js/bin/container.js"></script>

   <script> let container = <%- JSON.stringify(containerInfo) %></script>
   <script src="/js/defaultContainer.js"></script>
</body>

</html>