<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8' />
    <title>Local search app</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
    <link href='/css/style.css' rel='stylesheet' />


</head>

<body>

    <a href="/createpartner">Add partner</a>
    <div class="collection">
        <% partnerInfo.forEach((partner) => { %>
        <a href="/partner/<%= partner._id %>" class="collection-item"><%= partner.name %></a>
        <% }); %>
    </div>

    <div>
        <label for="foodType">Type de cuisine</label>
        <select name="foodType">
                <option value="all">Tous</option>
            <% selectInfo.foodType.forEach(option => { %>
                <option value="<%= option %>>"><%= option.charAt(0).toUpperCase() + option.slice(1) %></option>
            <%})%>
        </select>

        <label for="chain">Chaîne</label>
        <select name="chain">
            <option value="all">Tous</option>
        <% selectInfo.chain.forEach(option => { %>
            <option value="<%= option %>>"><%= option.charAt(0).toUpperCase() + option.slice(1) %></option>
        <%})%>
        </select>

        <label for="postcode">Code postal</label>
        <select name="postcode">
                <option value="all">Tous</option>
            <% selectInfo.postcode.forEach(option => { %>
                <option value="<%= option %>>"><%= option.charAt(0).toUpperCase() + option.slice(1) %></option>
            <%})%>
        </select>

        <label for="city">Ville</label>
        <select name="city">
                <option value="all">Tous</option>
            <% selectInfo.city.forEach(option => { %>
                <option value="<%= option %>>"><%= option.charAt(0).toUpperCase() + option.slice(1) %></option>
            <%})%>
        </select>

        <label for="contenant">Contenant</label>
        <select name="contenant">
            <option value="all">Tous</option>
        </select>
    </div>

    <div id='map'></div>
    <script>
    let partnerInfo = <%- JSON.stringify(partnerInfo) %>; //Outputs the unescaped value into the template
    </script>
    <script src="/js/map.js"></script>

</body>

</html>