<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8" />
   <title>Local search app</title>
   <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
   <link href='/css/style.css' rel='stylesheet' />
   <script src="https://kit.fontawesome.com/ade53cd309.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="/css/materialize.css">
   <link rel="stylesheet" href="/css/partner.css">
</head>

<body>
   <!-- NAVBAR -->

   <%- include('../../layouts/navbar.ejs') -%>

   <!-- MAIN PAGE -->

   <main class="container">
      <div class="page-title">Bienvenue!</div>
      <div class="row" id="partnerList">
         <div id="partner-title">all available partners</div>
         <% partnerInfo.forEach((partner) => { %>
         <a href="/partner/<%= partner._id %>">
            <div class="partner">
               <div class="partner-img">
                  <% if (partner.image!="noImage") {%>
                  <img src="http://localhost:3000/img/partner/<%= partner.image.filename %>" alt="<%= partner.name %>">
                  <% } %>
               </div>
               <div class="partner-info">
                  <div class="partner-name" id="<%= partner._id %>"><%= partner.name %></div>
                  <div class="partner-address"><i class="fas fa-map-marker-alt"></i>   <%= partner.address.street %></div>
               </div>
            </div>
         </a>

         <% }); %>
      </div>

      <div id='filter' data-target="filter-form" class="waves-effect waves-light btn modal-trigger">
         <a><i class="fas fa-filter"></i></a>
      </div>

      <div class="modal" id="filter-form">
         <div class="modal-content">
            <h3>Filter your partner</h3>
            <form action="/partner" method="GET" id="formFilter">
               <div class="row">

                  <label class="col s12" for="foodType">Type de cuisine</label>
                  <div class="input-field col s12"> 
                     <select class="browser-default" name="foodType" id="foodType">
                        <option value="all">Tous</option>
                        <% selectInfo.foodType.forEach(option => { if (option==""){option =
                              "Autres" }%>
                        <option value="<%= option %>">
                           <%= option.charAt(0).toUpperCase() + option.slice(1) %>
                        </option>
                        <%})%>
                     </select>
                  </div>
                  
                  <label class="col s12" for="chain">Chaîne</label>
                  <div class="input-field col s12">
                     <select class="browser-default" name="chain" id="chain">
                        <option value="all">Tous</option>
                        <% selectInfo.chain.forEach(option => { %>
                        <option value="<%= option %>">
                           <%= option.charAt(0).toUpperCase() + option.slice(1) %>
                        </option>
                        <%})%>
                     </select>
                  </div>

                  <label class="col s12" for="postcode">Code postal</label>
                  <div class="input-field col s12">
                     <select class="browser-default" name="postcode" id="postcode">
                        <option value="all">Tous</option>
                        <% selectInfo.postcode.forEach(option => { %>
                        <option value="<%= option %>">
                           <%= option.charAt(0).toUpperCase() + option.slice(1) %>
                        </option>
                        <%})%>
                     </select>
                  </div>

                  <label class="col s12" for="city">Ville</label>
                  <div class="input-field col s12">
                     <select class="browser-default" name="city" id="city">
                        <option value="all">Tous</option>
                        <% selectInfo.city.forEach(option => { %>
                        <option value="<%= option %>">
                           <%= option.charAt(0).toUpperCase() + option.slice(1) %>
                        </option>
                        <%})%>
                     </select>
                  </div>

                  <label class="col s12" for="material">Contenant</label>
                  <div class="input-field col s12">
                     <select class="browser-default" name="material" id="material">
                        <option value="all">Tous</option>
                        <% selectInfo.material.forEach(option => { %>
                        <option value="<%= option %>">
                           <%= option.charAt(0).toUpperCase() + option.slice(1) %>
                        </option>
                        <%})%>
                     </select>
                  </div>

               
               <a class="col s12 waves-effect waves-light btn" onclick="document.getElementById('formFilter').submit()">Trier</a>
               </div>
            </form>
            
         </div>
         
      </div>

      <!-- <div class="row">
         <a class="col s8 offset-s2 waves-effect waves-light green darken-1 btn" href="/createpartner">Add
            new partner</a>
      </div> -->
   
   </main>
   
   <!-- SCRIPTS -->
   <script src="/js/bin/materialize.js"></script>
   <script src="/js/bin/materialize-init.js"></script>
   <script>
      let partnerInfo = <%- JSON.stringify(partnerInfo) %>
   </script>
   <script src="/js/selectfilter.js"></script>

</body>

</html>