<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Local search app</title>
    <meta
      name="viewport"
      content="initial-scale=1,maximum-scale=1,user-scalable=no"
    />
  </head>

  <body>
    <a href="/createpartner">Add partner</a>

    <div>
      <form action="/partner" method="GET">
        <label for="foodType">Type de cuisine</label>
        <select name="foodType" id="foodType" onchange="this.form.submit();">
          <option value="all">Tous</option>
          <% selectInfo.foodType.forEach(option => { if (option==""){option =
          "Autres" }%>
          <option value="<%= option %>">
            <%= option.charAt(0).toUpperCase() + option.slice(1) %>
          </option>
          <%})%>
        </select>

        <label for="chain">Chaîne</label>
        <select name="chain" id="chain" onchange="this.form.submit();">
          <option value="all">Tous</option>
          <% selectInfo.chain.forEach(option => { %>
          <option value="<%= option %>">
            <%= option.charAt(0).toUpperCase() + option.slice(1) %>
          </option>
          <%})%>
        </select>

        <label for="postcode">Code postal</label>
        <select name="postcode" id="postcode" onchange="this.form.submit();">
          <option value="all">Tous</option>
          <% selectInfo.postcode.forEach(option => { %>
          <option value="<%= option %>">
            <%= option.charAt(0).toUpperCase() + option.slice(1) %>
          </option>
          <%})%>
        </select>

        <label for="city">Ville</label>
        <select name="city" id="city" onchange="this.form.submit();">
          <option value="all" >Tous</option>
          <% selectInfo.city.forEach(option => { %>
          <option value="<%= option %>">
            <%= option.charAt(0).toUpperCase() + option.slice(1) %>
          </option>
          <%})%>
        </select>

        <label for="material">Contenant</label>
        <select name="material" id="material" onchange="this.form.submit();">
          <option value="all">Tous</option>
          <% selectInfo.material.forEach(option => { %>
          <option value="<%= option %>">
            <%= option.charAt(0).toUpperCase() + option.slice(1) %>
          </option>
          <%})%>
        </select>
      </form>
    </div>

    <div class="collection" id="partnerList">
      <% partnerInfo.forEach((partner) => { %>
      <a href="/partner/<%= partner._id %>"class="collection-item" id="<%= partner._id %>"><%= partner.name %></a>
      <% }); %>
    </div>
    <script src="/js/select.js"></script>
  </body>
</html>
