<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/materialize.css">
    <link rel="stylesheet" href="/css/partner_details.css">
    <script src="https://kit.fontawesome.com/ade53cd309.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- NARBAR -->
    <%- include('../../layouts/navbar.ejs') -%>
    <!-- MAIN -->
    <a class="backBtn" 
    <% if(statusInfo.userStatus == 'admin') {%>
        href="/dashboard/partner"
    <%} else if (statusInfo.userStatus == 'partner') {%>
        href="/partner"
    <%}%>><i class="fas fa-arrow-left"></i></a>
    <main>
        <div class="hero-wrapper">
            <% if (partnerInfo.image!="noImage") {%>
            <img src="/img/partner/<%= partnerInfo.image.filename %>"
                alt="<%= partnerInfo.name %>">
            <% } %>
            <div class="partner_name"><%= partnerInfo.name %></div>

        </div>
        <div class="container">
            <div class="partner_info">
                <div class="heading"><i class="fas fa-info-circle"></i>info</div>
                <div class="info">
                    <div class="partner_info-address"><%= partnerInfo.address.street %></div>
                    <div class="partner_info-location">
                        <span><%= partnerInfo.address.postcode %></span> -
                        <span><%= partnerInfo.address.city %></span> -
                        <span><%= partnerInfo.address.country %></span>
                    </div>
                    <div class="partner_info-tel"><%= partnerInfo.phoneNumber %></div>
                    <% if (partnerInfo.foodType != "noType"){ %>
                    <div><%= partnerInfo.foodType %></div>
                    <% } %>
                    <% if (partnerInfo.chain != "noChain"){ %>
                    <div><%= partnerInfo.chain %></div>
                    <% } %>
                    <% if (partnerInfo.website != "noWebsite"){ %>
                    <div class="partner_info-website">
                        <a href="<%= partnerInfo.website %>">Website</a>
                    </div>
                    <% } %>
                </div>

            </div>
            <div class="partner_openhours">
                <div class="heading"><i class="fas fa-clock"></i>opening hours</div>
                <div class="day"><span>Lundi: </span> <span><%= partnerInfo.schedule.monday %></span></div>
                <div class="day"><span> Mardi: </span> <span><%= partnerInfo.schedule.tuesday %></span></div>
                <div class="day"><span>Mercredi: </span> <span><%= partnerInfo.schedule.wednesday %></span></div>
                <div class="day"><span>Jeudi:</span> <span><%= partnerInfo.schedule.thursday %></span> </div>
                <div class="day"><span>Vendredi: </span> <span><%= partnerInfo.schedule.friday %></span></div>
                <div class="day"><span>Samedi:</span> <span> <%= partnerInfo.schedule.saturday %></span></div>
                <div class="day"><span>Dimanche:</span> <span> <%= partnerInfo.schedule.sunday %></span></div>
            </div>

            <% if(statusInfo.userStatus == 'admin' || statusInfo.partnerId == partnerInfo._id) {%>
            <div class="admin-button row">
                <a class="col s4 offset-s1" href="/updatePartner/<%= partnerInfo._id %>">Edit</a>
                <a class="col s4 offset-s2 modal-trigger" href="#modal">Delete</a>
            </div>
            <div id="modal" class="modal">
                <div class="modal-content">
                    <h4>Supprimer partenaire ? </h4>
                </div>
                <div class="modal-footer">
                    <a href="/api/partner/delete/<%= partnerInfo._id %>"
                        class="modal-close waves-effect waves-green btn-flat danger">Confirmer</a>
                    <a href="#" class="modal-close waves-effect waves-green btn-flat">Annuler</a>
                </div>
            </div>
            <%} %>
        </div>
    </main>
    <!-- SCRIPTS -->
    <script src="/js/bin/materialize.js"></script>
    <script src="/js/bin/materialize-init.js"></script>
</body>

</html>