<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Update User's Info</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="/css/materialize.css">
    <link rel="stylesheet" href="/css/update_user.css">
    <script src="https://kit.fontawesome.com/ade53cd309.js" crossorigin="anonymous"></script>

</head>

<body>
    <!-- NARBAR -->
    <%- include('../../layouts/navbar.ejs') -%>

    <!-- MAIN -->

    <main class="container">

        <div class="row">
            <h2 class="col s12">Modifier ses informations</h2>
        </div>

        <div class="row">
            <form action="/api/user/<%= userInfo._id %>?_method=PUT" method="POST">
                <label for="firstname">Prénom</label>
                <input value="<%= userInfo.firstname %>" type="text" name="firstname" class="validate" required>
                <label for="lastname">Nom</label>
                <input value="<%= userInfo.lastname %>" type="text" name="lastname" class="validate">
                <label for="email">Email</label>
                <input value="<%= userInfo.email %>" type="email" name="email" class="validate">
                <button class="col s12 waves-effect waves-light btn green darken-1">Modifier</button>
            </form>
        </div>

    </main>

    <script src="/js/bin/materialize.js"></script>
    <script src="/js/bin/materialize-init.js"></script>
</body>

</html>