<% if (partnerInfo.image!="noImage") {%>
    <img src="http://localhost:3000/img/partner/<%= partnerInfo.image.filename %>" alt="<%= partnerInfo.name %>">
<% } %>

<ul class="collection with-header">
    <li class="collection-header"><h4><%= partnerInfo.name %></h4></li>
    <li class="collection-item"><%= partnerInfo.phoneNumber %></li>
    <li class="collection-item"><%= partnerInfo.address.street %></li>
    <li class="collection-item"><%= partnerInfo.address.zip %></li>
    <li class="collection-item"><%= partnerInfo.address.city %></li>
    <li class="collection-item"><%= partnerInfo.address.country %></li>
    <% if (partnerInfo.website != "noWebsite"){ %><li class="collection-item"><a href="<%= partnerInfo.website %>">Website</a></li><% } %>
    <li class="collection-item">Lundi: <%= partnerInfo.schedule.monday %></li>
    <li class="collection-item">Mardi: <%= partnerInfo.schedule.tuesday %></li>
    <li class="collection-item">Mercredi: <%= partnerInfo.schedule.wednesday %></li>
    <li class="collection-item">Jeudi: <%= partnerInfo.schedule.thursday %></li>
    <li class="collection-item">Vendredi: <%= partnerInfo.schedule.friday %></li>
    <li class="collection-item">Samedi: <%= partnerInfo.schedule.saturday %></li>
    <li class="collection-item">Dimanche: <%= partnerInfo.schedule.sunday %></li>
    <% if (partnerInfo.foodType != "noType"){ %><li class="collection-item"><%= partnerInfo.foodType %></li><% } %>
    <% if (partnerInfo.chain != "noChain"){ %><li class="collection-item"><%= partnerInfo.chain %></li><% } %>
</ul>

<a href="/updatePartner/<%= partnerInfo._id %>">Edit</a>