<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="/css/materialize.css">
</head>

<body>
   <div class="container">
      <div class="row">
         <h2 class="col s12"><%= historyInfo[0].reference %></h2>
      </div>
      <div class="row">
         <div class="col s12 container-img">
            <% if (historyInfo[0].containerInfo.image!="noImage") {%>
            <img src="http://localhost:3000/img/container/<%= JSON.parse(historyInfo[0].containerInfo.image).filename %>"
               alt="<%= historyInfo[0].containerInfo.name %>">
            <% } %>
         </div>

         <ul class="collection with-header">
            <li class="collection-header">
               <h4><%= historyInfo[0].action %></h4>
               <li class="collection-item"><%= historyInfo[0].date %></li>
            </li>
         </ul>

         <ul class="collection with-header">
            <li class="collection-header">
               <h4><%= historyInfo[0].containerInfo.name %></h4>
            </li>
            <li class="collection-item"><%= historyInfo[0].containerInfo.credit %></li>
            <li class="collection-item"><%= historyInfo[0].containerInfo.material %></li>
         </ul>
         <ul class="collection with-header">
            <li class="collection-header">
               <h4><%= historyInfo[0].userInfo.firstname %> <%= historyInfo[0].userInfo.lastname %></h4>
            </li>
         </ul>
         <ul class="collection with-header">
            <li class="collection-header">
               <h4><%= historyInfo[0].partnerInfo.name %></h4>
            </li>
            <li class="collection-item"><%= historyInfo[0].partnerInfo.address.street %> <%= historyInfo[0].partnerInfo.address.postcode %> <%= historyInfo[0].partnerInfo.address.city %></li>
         </ul>

         
      </div>
   </div>

   <script src="/js/bin/materialize.js"></script>
    <script src="/js/bin/materialize-init.js"></script>
</body>

</html>