<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Account</title>
    <link rel="stylesheet" href="/css/my_account.css">
    <link rel="stylesheet" href="/css/materialize.css">
    <script src="https://kit.fontawesome.com/ade53cd309.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- NARBAR -->
    <%- include('../../layouts/navbar.ejs') -%>
    <!-- MAIN -->
    <main class="container">

        <div class="user">
            <div class="user_icon">
                <i class="far fa-5x fa-user-circle"></i>
            </div>
            <div class="user_info">
                <div class="user_info-name"><%= userInfo.firstname %> <%= userInfo.lastname %></div>
                <div class="user_info-status"><%= userInfo.status %></div>
            </div>
        </div>





        <div class="setting-wrapper">
            <div class="user_account">
                <div class="user_account-heading padding">Mon Compte</div>
                <a class="link padding" class="" href="/updateUser/<%= userInfo._id %>"> <span>Modifier mes informations
                    </span>
                    <i class="fas fa-chevron-right"></i></a>
                <a class="link padding modal-trigger" href="#modal"><span>Supprimer mon compte </span><i
                        class="fas fa-chevron-right"></i></a>
                <% if(userInfo.status =="partner" || userInfo.status =="member") {%>
                <a class="link padding" href="/mycontainer/<%= userInfo._id %>"><span>Mes contenants </span><i
                        class="fas fa-chevron-right"></i></a>
                <% } %>
                <% if(userInfo.status != "admin") {%>
                <a class="link padding" href="/myhistory/<%= userInfo._id %>"><span>Mon historique </span><i
                        class="fas fa-chevron-right"></i></a>
                <%}%> 
                
                <!-- Modal Structure -->
                <div id="modal" class="modal">


                    <div class="modal-content">
                        <h4>Supprimer son compte ? </h4>
                    </div>
                    <div class="modal-footer">
                        <a href="/api/user/delete/<%= userInfo._id %>" class="modal-close waves-effect waves-green
                btn-flat danger">Confirmer</a>
                <a href="#" class="modal-close waves-effect waves-green btn-flat">Annuler</a>
            </div>
        </div>
        </div>




        <a class="link padding" href="/cgv"> <span>Conditions générales de vente</span> <i
                class="fas fa-chevron-right"></i></a>

        <a class="link padding" href="/faq"> <span>FAQ</span> <i class="fas fa-chevron-right"></i></a>

        <a class="link padding" href="/contact"><span>Contact</span> <i class="fas fa-chevron-right"></i></a>

        <a class="link padding" href="/aboutus"><span>A propos </span> <i class="fas fa-chevron-right"></i></a>




        <!-- ============ -->

        <% if(userInfo.status =="partner") {%>
        <div class="partner_account">
            <div class="partner_account-heading padding">Mon Partenaire</div>
            <% if (!partnerInfo) {%>
            <a class="link padding" href="/createpartner"> <span>Ajouter</span> <i class="fas fa-chevron-right"></i></a>
            <%} else {%>
            <a class="link padding" href="/updatePartner/<%= partnerInfo._id %>"><span>Modifier</span><i
                    class="fas fa-chevron-right"></i></a>
            <a class="link padding modal-trigger" href="#modal2"><span>Supprimer</span><i
                    class="fas fa-chevron-right"></i></a>
            <div id="modal2" class="modal">
                <div class="modal-content">
                    <h4>Supprimer son compte ? </h4>
                </div>
                <div class="modal-footer">
                    <a class="modal-close waves-effect waves-green btn-flat danger"
                        href="/api/partner/delete/<%= partnerInfo._id %>">Confirmer</a></i>
                    <a href="#" class="modal-close waves-effect waves-green btn-flat">Annuler</a>
                </div>
            </div>
        </div>
        <%}%>
        <% } %>



        <% if(userInfo.status =="admin") {%>
        <div class="admin_account">
            <div class="admin_account-heading padding">Dashboard</div>
            <a class="link padding" href="/dashboard"> <span>Admin Dashboard</span> <i class="fas fa-chevron-right"></i>
            </a>
        </div>
        <%}%>
    
        <div class="padding" id="logout">
            <a href="/api/logout">Déconnexion</a> 
        </div>

    </main>

    <!-- SCRIPTS -->
    <script src="/js/bin/materialize.js"></script>
    <script src="/js/bin/materialize-init.js"></script>
</body>
</html>